﻿
/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
*/

*{
  margin: 0;
  padding: 0;
}

/* IMPORTAÇÃO DE FONTES */
  @font-face {
    font-family: Ananda;
    src: url('css/fonts/Ananda-Personal-Use.otf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: NatureBeauty;
    src: url('css/fonts/NatureBeautyPersonalUser.otf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: Romanica;
    src: url('css/fonts/Romanica.otf');
    font-weight: normal;
    font-style: normal;
  }

/* DECLARAÇÃO DE VARIÁVEIS GERAIS */
  :root{
  /*FONTS*/
  --fontMontserrat:'Montserrat', sans-serif;
  --fontRobotoSlab:'Roboto Slab', serif;
  --fontRobotoCondensed:'Roboto Condensed', sans-serif;
  --fontRoboto:'Roboto', sans-serif;


  /*COMO USAR AS VARIÁVEIS*
    color: var(--fontreleway);
  */
  }

/* BODY */
  body{
  }
  body.travarScroll{
    overflow: hidden;
  }

/* TOPO */
  .topo{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
  }
    .topo a.logoPlataforma {
      text-decoration: none;
      padding-left: 75px;
    }
      .topo a.logoPlataforma img {
        margin-top: 10px;
        width: 100%;
        height: auto;
        max-width: 100px;
      }
    .topo .navbar {
      margin: 0;
      border: none;
      text-align: right;
    }
      .topo .navbar button {

      }
        .topo .navbar button span {

        }
      .topo .navbar .navbar-header {
        width: 100%;
        text-align: right;
        position: absolute;
      }
        .topo .navbar .navbar-header nav.navbar-collapse {

        }
          .topo .navbar .navbar-header nav.navbar-collapse ul {
            width: 100%;
            padding-right: 75px;
          }
            .topo .navbar .navbar-header nav.navbar-collapse ul li {
              float: initial;
              display: inline-block;
              text-transform: uppercase;
            }
              .topo .navbar .navbar-header nav.navbar-collapse ul li a {
                font-family: var(--fontMontserrat);
                color: #687a80;
                border-bottom: 2px solid transparent;
              }
              .topo .navbar .navbar-header nav.navbar-collapse ul li a:hover{
                background: transparent;
                
              } 
              .topo .navbar .navbar-header nav.navbar-collapse ul li a:focus{
                background: transparent;
              }
  .page-template-paginascontato-php .topo.pg-inicial{
    display: none;

  }
  .topo.contato{
    display: none;
  }

  .page-template-paginascontato-php .topo.contato{
    display: block;
  }


/*RODAPÉ*/
  .rodape{
    background-color: #362c3a;
    padding-bottom: 50px;
  }
    .rodape .bordaSuperior{
      min-height: 2px;
      background: #eec9c8;
      margin-top: 50px;
      margin-bottom: 40px;
    }
    .rodape a {
      display: block;
      text-decoration: none;
      width: 100%;
      max-width: 150px;
    } 
      .rodape a figure.logoAk {
        width: 100%;
      }
        .rodape a figure.logoAk img {
          width: 100%;
          height: auto;
        }
    .rodape p.copyright{
      font-family: var(--fontRobotoCondensed);
      font-weight: lighter;
      color: #eec9c8;
      font-size: 23px;
      width: 100%;
      text-align: center;
      margin-top: 21px;
    }
    .rodape ul.socialNetworks {
      list-style: none;
      width: 100%;
      max-width: 100px;
      position: absolute;
      right: 0;
      top: 10px;
    }
      .rodape ul.socialNetworks li {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 0 5px;
      }
        .rodape ul.socialNetworks li a {
          text-decoration: none;
        }
          .rodape ul.socialNetworks li a img{
            width: 100%;
            height: auto;
          }
  
/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }

/*PÁGINA INICIAL*/
  .pg-inicial {
  }
    .pg-inicial section.welcomePlataform {
      background: url(img/fundobody.png);
      width: 100%;
      min-height: 790px;
      background-size: cover!important;
      background-position: 2px -42px!important;
      position: relative;
      background-attachment: fixed!important;
      animation: animatedBackground 44s linear infinite;
      -moz-animation: animatedBackground 44s linear infinite;
      -webkit-animation: animatedBackground 44s linear infinite;
      -ms-animation: animatedBackground 44s linear infinite;
      -o-animation: animatedBackground 44s linear infinite;
    }
    .pg-inicial section.welcomePlataform:before{
      content: "";
      background: url(img/arvoresesquerda.png);
      width: 100%;
      height: 682px;
      position: absolute;
      bottom: 0;
      background-size: cover!important;
      background-position: 0px 0px!important;
      z-index: 1;
      max-width: 1367px;
    } 
    .pg-inicial section.welcomePlataform:after{
      content: "";
      background: url(img/arvoresdireita.png);
      bottom: 0;
      background-size: cover!important;
      background-position: 0px 0px!important;
      width: 100%;
      height: 672px;
      position: absolute;
      right: 0;
      max-width: 637px;
      z-index: 2;
    }  
      .pg-inicial section.welcomePlataform h6 {
        font-family: Ananda;
        font-size: 100px;
        padding: 0;
        position: absolute;
        width: 100%;
        max-width: 547px;
        margin: 0 auto;
        left: 50%;
        top: 60%;
        transform: translate(-50%,-50%);
        text-align: center;
        z-index: 4;
      }
     
    .pg-inicial section.aboutPlataform {
      background-color: #372d3b;
      padding-top: 40px;
      padding-bottom: 80px;
      position: relative;
    }
    .pg-inicial section.aboutPlataform:after {
      content: "";
      background: url(img/afterSobre.png);
      width: 100%;
      min-height: 169px;
      display: block;
      bottom: -167px;
      position: absolute;
      background-size: cover!important;
      background-position: center!important;
    }
      .pg-inicial section.aboutPlataform h6 {
        width: 100%;
        min-height: 50px;
        text-align: center;
        font-size: 31px;
        font-family: var(--fontMontserrat);
        font-weight: 600;
        font-style: italic;
        color: #f6dddf;
        position: relative;
        margin-bottom: 60px;
      }
      .pg-inicial section.aboutPlataform h6:after {
        content: "";
        background: url(img/bordainferior.png);
        width: 100%;
        display: block;
        min-height: 14px;
        text-align: center;
        background-size: cover!important;
        background-position: center!important;
        max-width: 340px;
        margin: 0 auto;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);      }
      .pg-inicial section.aboutPlataform figure {
        width: 100%;
      }
        .pg-inicial section.aboutPlataform figure img {
          width: 100%;
          height: auto;
          max-width: 530px;
        }
      .pg-inicial section.aboutPlataform .textContent {
        width: 100%;
        max-width: 515px;
        margin: 0 auto;
        padding-left: 40px;
        color: #f6dddf;
        font-family: var(--fontMontserrat);
        font-size: 19px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        text-indent: 35px;      
      }
        .pg-inicial section.aboutPlataform .textContent p {
          color: #f6dddf;
          font-family: var(--fontMontserrat);
          font-size: 19px;
          text-align: left;
          font-style: normal;
          font-weight: normal;
          text-indent: 35px;
        }
    .pg-inicial section.mosaicLayers {
      background: url(img/fundoMosaicos.png);
      padding-top: 370px;
      background-attachment: fixed!important;
      min-height: 1280px;
      -webkit-animation: animatedBackgroundX 3218s linear infinite;
      -moz-animation: animatedBackgroundX 3218s linear infinite;
      -o-animation: animatedBackgroundX 3218s linear infinite;
      -ms-animation: animatedBackgroundX 3218s linear infinite;
      animation: animatedBackgroundX 3218s linear infinite;
      background-repeat: repeat;
    }
      .pg-inicial section.mosaicLayers h6 {

      }
      .pg-inicial section.mosaicLayers .hexagonsLists {
        position: relative;
        padding-bottom: 170px;
        margin-top: 150px;
      }
        .pg-inicial section.mosaicLayers .hexagonsLists .hexagon {
          width: 100%;
          height: auto;
          max-width: 250px;
        }
          .pg-inicial section.mosaicLayers .hexagonsLists .hexagon small {
            position: relative;
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
            .pg-inicial section.mosaicLayers .hexagonsLists .hexagon small img {
              width: 100%;
              height: auto;
            }
            .pg-inicial section.mosaicLayers .hexagonsLists .hexagon small.indisponivel img{
              filter: grayscale(100%);
            }
            .pg-inicial section.mosaicLayers .hexagonsLists .hexagon small.indisponivel:before {
              content: "Disponível em breve";
              display: block;
              width: 100%;
              max-width: 220px;
              background: #df9c9d;
              font-size: 15px;
              text-transform: lowercase;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              border-radius: 5px;
              padding: 10px 15px;
              opacity: 0;
              z-index: 2;
              color: #fff;
              text-transform: uppercase;
              font-family: var(--fontRobotoCondensed);
              letter-spacing: 1px;
            }
            .pg-inicial section.mosaicLayers .hexagonsLists .hexagon small.indisponivel:hover:before{
              opacity: 1;
              z-index: 2;
              transition: all linear .4s;
            }
        .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonUp {
          position: absolute;
          left: 50%;
          top: -250px;
          transform: translateX(-50%);
        }
        .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonLeft {
          position: absolute;
          right: 120px;
        }
        .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonRight {
          position: absolute;
          left: 120px;
        }
        .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonDown{
          position: absolute;
          left: 50%;
          top: 250px;
          transform: translateX(-50%);
        }
          .pg-inicial section.mosaicLayers .hexagonsLists .hexagon span {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
           font-family: var(--fontMontserrat);
           text-transform: uppercase;
           font-size: 19px;
           color: #fff;
           font-style: italic;
           width: 100%;
           padding: 0 6px;
          }
      .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
        display: block;
        width: 333px;
        position: absolute;
        right: -385px;
        background: #df9c9d;
        border-radius: 40px;
        padding: 11px 14px;
        min-height: 79px;
        /* border: 2px solid #fff; */
        top: 182px;
        box-shadow: 3px 5px 12px 1px #00000094;
      }
      .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-right: 23px solid #df9c9d;
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
      }
        .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore span.tooltipStore {
          position: initial;
          text-transform: none;
          top: initial;
          left: initial;
          transform: none;
          font-size: 17px;
        }
    .pg-inicial section.projectInfo {
      width: 100%;
      box-shadow: 6px 1px 39px 4px #000000bf;
      background-color: #fff;
      min-height: 1756px; /*min-height: 1973px;*/
      z-index: 3;
      -webkit-transform: skewY(5deg);
      -moz-transform: skewY(5deg);
      -o-transform: skewY(5deg);
      transform: skewY(5deg);
      margin-top: -81px;
      position: relative;
    }
    .pg-inicial section.projectInfo:after{
      content: attr(data-informacao);
      display: block;
      width: 100%;
      min-height: 178px;
      -webkit-transform: skewY(-5deg);
      -moz-transform: skewY(-5deg);
      -o-transform: skewY(-5deg);
      transform: skewY(-5deg);
      position: absolute;
      bottom: -87px;
      background: #fff;
      box-shadow: 0px 13px 13px 1px #00000085;
      font-family: var(--fontMontserrat);
      color: #eec9c8;
      font-size: 19px;
      font-weight: 600;
      text-align: center;
      margin: 0 auto;
      padding: 0 20%;
    }
      .pg-inicial section.projectInfo .antiSkew {
        -webkit-transform: skewY(-5deg);
        -moz-transform: skewY(-5deg);
        -o-transform: skewY(-5deg);
        transform: skewY(-5deg);
        padding-top: 90px;
      }
        .pg-inicial section.projectInfo .antiSkew h6 {
          color: #687a80;
          text-align: center;
          font-size: 44px;
          font-family: var(--fontMontserrat);
          font-style: italic;
        } 
        .pg-inicial section.projectInfo .antiSkew .advantagesList {
          width: 100%;
          margin-top: 60px;
        } 
          .pg-inicial section.projectInfo .antiSkew .advantagesList ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            max-width: 1400px;
            margin: 0 auto;
          } 
            .pg-inicial section.projectInfo .antiSkew .advantagesList ul li {
              display: inline-block;
              text-align: center;
              width: 23%;
              padding: 0 10px;
              vertical-align: top;
            } 
            .pg-inicial section.projectInfo .antiSkew .advantagesList ul li:hover h3{
              color: #362c3a;
              transition: color .5s;
              -webkit-transition:color .5s ;
              -moz-transition:color .5s ;
              -o-transition:color .5s ;
            }
            .pg-inicial section.projectInfo .antiSkew .advantagesList ul li:hover p{ 
              color: #362c3a;
              transition: color .5s;
              -webkit-transition:color .5s ;
              -moz-transition:color .5s ;
              -o-transition:color .5s ;
            }
              .pg-inicial section.projectInfo .antiSkew .advantagesList ul li figure {
                width: 100%;
                min-height: 150px;
                vertical-align: middle;
              } 
                .pg-inicial section.projectInfo .antiSkew .advantagesList ul li figure img {
                  width: 100%;
                  height: auto;
                  max-width: 150px;
                }  
              .pg-inicial section.projectInfo .antiSkew .advantagesList ul li h3 { 
                font-family: var(--fontMontserrat);
                color: #eec9c8;
                font-size: 25px;
                font-weight: bold;
              }
              .pg-inicial section.projectInfo .antiSkew .advantagesList ul li p{
                font-family: var(--fontMontserrat);
                color: #eec9c8;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                margin-top: 24px;
                padding: 0 7px;
                min-height: 130px;
              }
        .pg-inicial section.projectInfo .antiSkew .projectIdealizer {
          width: 100%;
          margin-top: 70px;
        }
          .pg-inicial section.projectInfo .antiSkew .projectIdealizer h2 {
            color: #687a80;
            text-align: center;
            font-size: 44px;
            font-family: var(--fontMontserrat);
            font-style: italic;
          }
          .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo {
            width: 100%;
            max-width: 400px;
            margin: 60px auto 0;
          }
            .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo figure {
              width: 100%;
              text-align: center;
            }
              .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo figure img {
                width: 100%;
                height: auto;
                max-width: 280px;
                text-align: center
              }
              .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo figure img:hover{
                animation-name: bounce;
                animation-duration: 1s;
              }
            .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo h3.idealizerName {
              font-family: Ananda;
              font-weight: bold;
              text-align: center;
              font-size: 39px;
              color: #df9c9d;
            }
        .pg-inicial section.projectInfo .antiSkew .participatingModels {
          padding-bottom: 140px;
        }
          .pg-inicial section.projectInfo .antiSkew .participatingModels h4{
            color: #687a80;
            text-align: center;
            font-size: 44px;
            font-family: var(--fontMontserrat);
            font-style: italic;
            margin: 60px auto;
          }
          .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels {
            margin: 50px auto 60px;
          }
            .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels .item {
              width: 100%;
            }
            
              .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels .item figure {
                width: 100%;
                max-width: 200px;
                text-align: center;
                margin: 0 auto;
                padding-top: 30px;
              }
                .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels .item figure img {
                  width: 100%;
                  height: auto;
                }
                .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels .item figure img:hover{
                  animation-name: bounce;
                  animation-duration: 1s;
                }
              .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels .item h3 {
                color: #df9c9d;
                font-family: Ananda;
                text-align: center;
              }
    .pg-inicial section.partners {
      margin-top: 75px;
      background-color: #362c3a;
      padding-top: 40px;
    }
      .pg-inicial section.partners h6{
        width: 100%;
        min-height: 50px;
        text-align: center;
        font-size: 31px;
        font-family: var(--fontMontserrat);
        font-weight: 600;
        font-style: italic;
        color: #f6dddf;
        position: relative;
      }
      .pg-inicial section.partners h6:after{ 
        content: "";
        background: url(img/bordainferior.png);
        width: 100%;
        display: block;
        min-height: 14px;
        text-align: center;
        background-size: cover!important;
        background-position: center!important;
        max-width: 340px;
        margin: 0 auto;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .pg-inicial section.partners div.partnersCarousel{
        margin-top: 60px;
      }
        .pg-inicial section.partners div.partnersCarousel .item {
          width: 100%;
        }
          .pg-inicial section.partners div.partnersCarousel .item figure.partnerLogo {
            width: 100%;
            height: auto;
            max-width: 230px;
            margin: 0 auto;
          }
            .pg-inicial section.partners div.partnersCarousel .item figure.partnerLogo img {
              width: 100%;
              height: auto;
            }

/*PÁGINA CONTATO*/
  .pg-contato {
  }
    .pg-contato section.contactPlataform{
    }
       .pg-contato section.contactPlataform .imagemContato{

        }
         .pg-contato section.contactPlataform .imagemContato figure{

        } .pg-contato section.contactPlataform .imagemContato figure img{
              display: block;
              height: auto;
              margin: 0 auto;
              width: 90%;
              max-width: 286px;
        } 
  
  
    .pg-contato section.contactPlataform {
      background-color: #372d3b;
      padding: 60px 10px 80px 10px;

    }
   
      .pg-contato section.contactPlataform h6 {
          font-family: var(--fontRobotoSlab);  
          padding-left: 20px;
          width: 100%;
          min-height: 50px;
          font-size: 17px;
          color: #f6dddf;
          text-transform: uppercase;
          border-bottom: 15px solid #534753;
      }
     
      .pg-contato section.contactPlataform form {
        }
        
        .pg-contato section.contactPlataform form label{
          color: #f6dddf;
          text-transform: uppercase;
          margin: 10px 0;
          font-family: var(--fontRobotoSlab); 
          font-weight: initial;
          width: 100%;
        }
         .pg-contato section.contactPlataform form input{

            display: block;
            width: 100%;
            margin-top: 10px;
            min-height: 30px;
            padding: 8px 20px;
            border: 1px solid #b0aeb1;
            background: #534753;
            max-width: 90%;

      }  
            .pg-contato section.contactPlataform form textarea{
                display: block;
                background-color: #534753;
                border: 1px solid #b0aeb1;
                width: 100%;
                margin-top: 10px;
                min-height: 138px;
                max-height: 161px;
                resize: none; 
           } 
              
             .pg-contato section.contactPlataform form  input[type="submit"] {
                  width: 100%;
                  max-width: 111px;
                  display: inline-block;
                  margin-top: 14px;
                  min-height: 40px;
                  background: #534753;
                  color: #fff;
                  text-transform: uppercase;
                  border: solid 2px transparent;
                  font-size: 20px;
                  float: right;
              } 
              .pg-contato section.contactPlataform form  input[type="submit"]:hover {
                   border: solid 2px #fff;
                
              }

/*PÁGINA MODAL*/
  .pg-modal {
    z-index: 20;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: cubic-bezier(0, 1.34, 0.76, 1.53).4s;
    position: fixed;
    left: -120%;
    top: 0;
    background: #372d3b;
    overflow-x: hidden;
  }
  /*MODAL NORMAL*/
  .pg-modal.abrirModal{
    left: 0;
  }
  /*MODAL MODELOS*/
  .abrirModalModelos{
    left: 0;

  }
   .abrirModalModelos .infoPagina .conteudo p{
      overflow-y: scroll;
      overflow-x: hidden;
      height: 368px;

  }
  .abrirModalModelos .imagensLink{
      padding-left:60px;


  }

    .pg-modal .infoPagina{
      width: 100%;
      height: 100vh;
      background: #eec9c8;
      padding-top: 14px;
      text-align: center;
      position: relative;
    }
    .pg-modal .infoPagina:after{
      content: "";
      background: url(img/beforeModal.png);
      width: 62px;
      height: 100vh;
      background-size: cover!important;
      background-position: 0px 0px!important;
      display: block;
      position: absolute;
      right: -61px;
      top: 0;
      z-index: 19;
    }
      .pg-modal .infoPagina span.fecharModal {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 40px;
        color: #372d3b;
        line-height: 0;
        cursor: pointer;
      }
      .pg-modal .infoPagina span.fecharModal:hover {
        color: white;
        transition: color .4s;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -o-transition: color .4s;
      }
        .pg-modal .infoPagina span.fecharModal i {

        }
      .pg-modal .infoPagina h6.tituloPagina {
        font-family: var(--fontMontserrat);
        font-size: 48px;
        text-align: center;
        font-style: italic;
        color: #372d3b;
        margin-top: 0;
        margin: 50px 0;
      }
      .pg-modal .infoPagina .conteudo {
        text-align: left;
      }
        .pg-modal .infoPagina .conteudo p {
          font-style: italic;
          color: #372d3b;
          font-family: var(--fontMontserrat);
          display: block;
          width: 100%;
          max-width: 500px;
          margin: 0 auto 20px;
          font-weight: 500;
          font-size: 20px;
          text-indent: 35px;
          
        }
      .pg-modal .infoPagina a.linkModal {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        background: #372d3b;
        border: 1px solid #372d3b;
        text-transform: uppercase;
        font-style: italic;
        font-family: var(--fontMontserrat);
        color: #f6dddf;
        padding: 10px 55px;
        border-radius: 14px;
        font-size: 21px;
        text-decoration: none
      }
      .pg-modal .infoPagina a.linkModal:hover{
        background: transparent;
        color: #372d3b;
        border: 1px solid #372d3b;
        transition: all linear .4s;
        -webkit-transition: all linear .4s;
        -moz-transition: all linear .4s;
        -o-transition: all linear .4s;
      }
    .pg-modal .imagensLink{
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      background: #fff;
    }
      .pg-modal .imagensLink ul {
        font-size: 0;
        list-style: none;
        margin: 0;
      }
        .pg-modal .imagensLink ul li {

        }
          .pg-modal .imagensLink ul li img {
            width: 100%;
          
          } 
   .styleModel{


   }
  
 .styleModel .imagensLink ul li{
      padding-top: 100px!important;
  }    
  
  .pg-modal .infoPagina .{
  }
/*SINGLE*/
.pg-modal.single{
  display:block;
  z-index: initial;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: initial;
  transition: cubic-bezier(0, 1.34, 0.76, 1.53).4s;
  position: initial;
  left: 0;
  top: 0;
  background: #372d3b;
  overflow-x: initial;
}


.pg-modal.single section.infoPagina span.fecharModal{
    display: block;
}
.pg-modal.single .imagensLink ul li img{
    padding: 70px 0;
}
.pg-modal.single .infoPagina .conteudo p{
    margin: 0 auto 14px;
}
.pg-modal.single .infoPagina span.fecharModal{
    top: 16px;
    left: 20px;
}
.pg-modal.single .infoPagina:after{
    z-index: 1;
}

/*EXTRAS*/
  @keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
  }
  @-moz-keyframes animatedBackground {
      0% { background-position: 0 0; }
      100% { background-position: -300px 0; }
  }
  @-webkit-keyframes animatedBackground {
      0% { background-position: 0 0; }
      100% { background-position: -300px 0; }
  }
  @-ms-keyframes animatedBackground {
      0% { background-position: 0 0; }
      100% { background-position: -300px 0; }
  }
  @-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position:  -300px 0; }
  }

  @keyframes animatedBackgroundX {
    0% { background-position: 0 0; }
    100% { background-position:  0 +50000px; }
  }
  @-moz-keyframes animatedBackgroundX {
      0% { background-position: 0 0; }
      100% { background-position:  0 +50000px; }
  }
  @-webkit-keyframes animatedBackgroundX {
      0% { background-position: 0 0; }
      100% { background-position:  0 +50000px; }
  }
  @-ms-keyframes animatedBackgroundX {
      0% { background-position: 0 0; }
      100% { background-position:  0 +50000px; }
  }
  @-o-keyframes animatedBackgroundX {
    0% { background-position: 0 0; }
    100% { background-position:  0 +50000px; }
  }

  ::-webkit-scrollbar{ 
    background: #372d3b;
    width: 5px;

  }
  ::-webkit-scrollbar-button{ 
   background: #df9c9d;
  }
  ::-webkit-scrollbar-track{ 
    

  }
  ::-webkit-scrollbar-track-piece {
   }
  ::-webkit-scrollbar-thumb{ 
    background: #df9c9d;
  }
  ::-webkit-scrollbar-corner       { /* 6 */ }
  ::-webkit-resizer                { /* 7 */ }
       
/*@MEDIA QUERY*/
  @media(max-width: 1367px){
    .pg-inicial section.welcomePlataform:before {
      height: 671px;
      background-position: 0px 0px!important;
      z-index: 3;
      max-width: 1367px;
    }
    .pg-inicial section.welcomePlataform:after {
      background-position: 0px 0px!important;
      height: 672px;
      max-width: 637px;
      z-index: 2;
    }
  }
  @media(max-width: 1200px){
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li {
      width: 20%;
      min-height: 180px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li figure img {
      max-width: 150px;
    }
    .pg-inicial section.welcomePlataform h6 {
      font-size: 70px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 550px;
      width: 100%;
      max-width: 1224px;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 570px;
      max-width: 520px;
      background-position: -28px 0px!important;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 630px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore{
      right: -358px;
    }
    .pg-inicial section.projectInfo{
      min-height: 2133px;
    }
  }

  @media(max-width: 991px){
    .pg-contato section.contactPlataform form input{
        max-width: 100%;

      }
    .pg-inicial section.aboutPlataform figure {
      text-align: center;
    }
    .pg-inicial section.aboutPlataform .textContent {
      padding: 50px 10px 0 10px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon span{
      font-size: 23px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li figure img {
      max-width: 120px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li h3 {
      font-size: 28px;
    }
    .pg-inicial section.projectInfo .antiSkew h6, .pg-inicial section.projectInfo .antiSkew .projectIdealizer h2, .pg-inicial section.projectInfo .antiSkew .participatingModels h4 {
      font-size: 39px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo {
      max-width: 350px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo figure img{
      max-width: 250px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo h3.idealizerName{
      font-size: 37px;
    }
    .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels .item figure{
      max-width: 180px;
    }
    .pg-inicial section.welcomePlataform h6 {
      font-size: 55px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 470px;
      max-width: 970px;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 480px;
        max-width: 410px;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 570px;
    }
    .pg-modal .infoPagina .conteudo p {
      padding: 0 20px;
    }
    .pg-inicial section.mosaicLayers{
      min-height: 1214px;
      padding-top: 290px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: -160px;
      top: 330px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before{
      border-top: 23px solid transparent;
      border-right: 23px solid transparent;
      border-bottom: 23px solid #df9c9d;
      border-left: 23px solid transparent;
      left: 25px;
      top: -43px;
      transform: none;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li {
      width: 40%;
    }
    .pg-inicial section.projectInfo .antiSkew .informacoesIdeia p{
      padding-bottom: 130px;
    }
  }
  @media(max-width: 850px){
    .pg-inicial section.welcomePlataform h6 {
        font-size: 50px;
        z-index: 1;
    }
    .pg-inicial section.welcomePlataform:before {
        height: 465px;
    }
    .pg-inicial section.welcomePlataform:after {
        height: 473px;
        max-width: 400px;
    }
  }
  @media(max-width: 767px){
  /*  .pg-modal.single .infoPagina:after}{
      display: none;
    }*/
    .pg-contato section.contactPlataform h6 {
      font-size: 18px;
      padding: 0 10px;

    }
     .pg-contato section.contactPlataform .imagemContato figure img{
    }

    .pg-contato section.contactPlataform form .button{
      text-align: left;
    }
    .pg-contato section.contactPlataform form .info {
       padding: 0 10px;
    }
    .pg-contato section.contactPlataform form .textarea, .pg-contato section.contactPlataform form .button {
       padding: 0 10px;
    }
    .pg-inicial section.aboutPlataform h6 {
      font-size: 22px;
      padding: 0 10px;  
    }
    .pg-inicial section.aboutPlataform h6:after{
      max-width: 280px;
      min-height: 10px;
      bottom: -7px;
    }
    .pg-inicial section.aboutPlataform figure img {
      max-width: 500px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon {
      max-width: 220px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon span{
      font-size: 20px;
    }
    .pg-inicial section.mosaicLayers {
      background-attachment: scroll!important; 
      padding-top: 330px;
    }
    .pg-inicial section.projectInfo .antiSkew h6, .pg-inicial section.projectInfo .antiSkew .projectIdealizer h2, .pg-inicial section.projectInfo .antiSkew .participatingModels h4 {
      font-size: 28px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo figure img {
      max-width: 230px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo h3.idealizerName {
      font-size: 29px;
    }
    .pg-inicial section.projectInfo:after {
      min-height: 128px;
      bottom: -77px;
      padding: 30px 4%;
    }
    .pg-inicial section.partners h6:after {
      min-height: 10px;
      max-width: 250px;
    }
    .pg-inicial section.partners h6 {
      font-size: 25px;
    }
    .rodape ul.socialNetworks {
      position: initial;
      margin: 30px auto 0;
    }
    .rodape p.copyright {
      text-align: center;
      margin-top: 41px;
      font-size: 20px;
    }
    .rodape a {
      margin: 0 auto;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 450px;
      background-attachment: initial!important;

    }
    .pg-inicial section.welcomePlataform:before {
      height: 355px;
    }
    .pg-inicial section.welcomePlataform h6 {
      font-size: 30px;
      z-index: 0;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 363px;
      max-width: 300px;
    }
    .topo .navbar button {
      border: 1px solid #697a81;
      float: initial;
      position: absolute;
      right: 20px;
      top: -50px;
    }
    .topo .navbar button span {
      border: 1px solid #697a81;
    }
    .topo .navbar .navbar-header nav.navbar-collapse ul li {
      float: initial;
      display: block;
      text-transform: uppercase;
      text-align: left;
      width: 100%;
      max-width: 150px;
    }
    .topo .navbar .navbar-header nav.navbar-collapse ul {
      width: 100%;
      background: #f5dddf;
      margin: 0;
    }
    .topo a.logoPlataforma {
      text-align: center;
      display: block;
      padding-left: 0;
      background: #f5dddf;
    }
    .topo .navbar .navbar-header nav.navbar-collapse{
      border-top: 0px solid transparent;
      box-shadow: none;
    }
    .pg-modal .infoPagina h6.tituloPagina {
      font-size: 30px;
    }
    .pg-modal .infoPagina .conteudo p {
      font-size: 18px;
      padding: 0 15px;
    }
    .pg-modal .infoPagina a.linkModal {
      font-size:18px;    
      padding: 4px 25px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .pg-modal {
      overflow-y:scroll;
    }
    .pg-modal .infoPagina span.fecharModal {
      font-size: 25px;
    }
    .pg-modal .infoPagina {
      height: auto;
      min-height: 70vh;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: -184px;
      top: 274px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonLeft{
      right: 60px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonRight{
      left: 60px;
    }
    .pg-inicial section.projectInfo{
      min-height: 2033px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon small.indisponivel:before{
      width: 85%;
      max-width: 220px;
      font-size: 14px;
    }
    .styleModel .imagensLink ul li{
      padding-top: 0px!important;
    }
    .styleModel .imagensLink{
      padding-left: 0px!important;
    }
  }
  @media(max-width: 610px){
    .pg-inicial section.aboutPlataform h6 {
      font-size: 20px;
    }
    .pg-inicial section.aboutPlataform figure img {
      max-width: 390px;
    }
    .pg-inicial section.aboutPlataform .textContent {
      max-width: 410px;
    }
    .pg-inicial section.aboutPlataform .textContent p {
      font-size: 17px;
    }
    .pg-inicial section.aboutPlataform h6::after {
      max-width: 250px;
      min-height: 8px;
    }
    .pg-inicial section.aboutPlataform {
      padding-bottom: 40px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon {
      max-width: 190px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonUp {
      top: -200px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonDown {
      top: 200px;
    }
    .pg-inicial section.mosaicLayers {
      padding-top: 270px;
      min-height: 1150px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon span{
      font-size: 18px;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 377px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 299px;
    }
    .pg-inicial section.welcomePlataform h6 {
      top: 65%;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 303px;
      max-width: 277px;
      background-position: -7px 0px!important;
    }
    .topo .navbar button{
      top: -47px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo {
      max-width: 200px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo h3.idealizerName {
      font-size: 23px;
    }
    .pg-inicial section.projectInfo{
      min-height: 2120px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: -164px;
      top: 242px;
      width: 307px;
      min-height: 67px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore span.tooltipStore{
      font-size: 15px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before {
      left: 29px;
      top: -43px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li p {
      font-size: 14px;
    }
    .pg-inicial section.projectInfo:after{
      font-size: 17px;
    }
  }
  @media(max-width: 520px){
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon {
      max-width: 160px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonLeft, .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonRight{ 
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonDown {
      top: 160px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon span{
      font-size: 15px;
    }
    .pg-inicial section.welcomePlataform {
     min-height: 322px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 242px;
    }
    .pg-inicial section.welcomePlataform h6 {
      font-size: 29px;
      max-width: 250px; 
    }
    .pg-inicial section.welcomePlataform:after {
      height: 247px;
      max-width: 251px;
      background-position: 0px 0px!important;
    }
    .pg-inicial section.projectInfo .antiSkew h6, .pg-inicial section.projectInfo .antiSkew .projectIdealizer h2, .pg-inicial section.projectInfo .antiSkew .participatingModels h4 {
      padding: 0 10px;
    }
    .pg-inicial section.aboutPlataform figure img {
      max-width: 340px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li{
      margin-left: 0;
      width: 100%;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li figure{
      min-height: 115px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li p{
      min-height: 0px; 
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li figure img {
      max-width: 113px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li h3 {
      font-size: 22px;
    }
    .pg-inicial section.projectInfo .antiSkew h6, .pg-inicial section.projectInfo .antiSkew .projectIdealizer h2, .pg-inicial section.projectInfo .antiSkew .participatingModels h4 {
      font-size: 23px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo figure img {
      max-width: 170px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore span.tooltipStore {
      font-size: 14px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: 39px;
      top: 219px;
      width: 261px;
      min-height: 67px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before {
      border-top: 17px solid transparent;
      border-right: 17px solid transparent;
      border-bottom: 17px solid #df9c9d;
      border-left: 17px solid transparent;
      left: 203px;
      top: -30px;
    }
    .pg-inicial section.mosaicLayers {
      padding-top: 270px;
      min-height: 810px;
   }
   .pg-inicial section.mosaicLayers .hexagonsLists {
      margin-top: 30px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonUp {
      top: -160px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonLeft {
      right: 30px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonRight {
      left: 30px;
    }
    .pg-modal .infoPagina .conteudo p{
      font-size: 14px;
    }
  }
  
  @media(max-width: 445px){
    .pg-inicial section.aboutPlataform figure img {
      max-width: 370px;
    }
    .pg-inicial section.aboutPlataform h6 {
      font-size: 18px;
    } 
    .pg-inicial section.aboutPlataform h6:after {
      max-width: 220px;
      min-height: 8px;
    }
    .pg-inicial section.aboutPlataform .textContent {
      max-width: 380px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li {
      padding-bottom: 50px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li:last-child{
      padding-bottom: 0;
    }
    .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels .item figure {
      max-width: 150px;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 280px;
    }
    .pg-inicial section.welcomePlataform:before {
        height: 213px;
        max-width: 425px;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 222px;
      max-width: 219px;
    }
    .rodape a {
      max-width: 115px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: 31px;
      top: 200px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before {
      left: 200px;
      top: -31px;
    }
    .pg-inicial section.projectInfo {
      min-height: 2208px;
    }
  }

  @media(max-width: 425px){
    .pg-inicial section.aboutPlataform figure img {
      max-width: 290px;
    }
    .pg-inicial section.aboutPlataform .textContent {
      max-width: 360px;
    }
    .pg-inicial section.mosaicLayers {
      padding-top: 230px;
      min-height: 840px;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 261px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 175px;
      max-width: 357px;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 179px;
      max-width: 170px;
    }
    .pg-inicial section.aboutPlataform .textContent p {
      font-size: 15px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before {
      left: 96px;
      top: -34px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: -40%;
      top: 178px;
      width: 230px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists {
      margin-top: 90px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon {
      max-width: 130px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonRight {
      left: 20px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonLeft {
      right: 20px;
    }
    .pg-inicial section.projectInfo {
      min-height: 2318px;
    }
  }
  @media(max-width: 320px){
  }
