		<!-- PAGINA MODAL PLATAFORMAS-->
		<div class="pg pg-modal">
			<div class="row">
				<div class="col-sm-6">
					<!-- INFORMAÇÕES DA PAGINA -->
					<section class="infoPagina">
						<span class="fecharModal"><i class="far fa-times-circle"></i></span>
						<h6 class="tituloPagina"></h6>
						<div class="conteudo">
							
						</div>
						<a href="" target="_blank" class="linkModal" id="link_plataforma">Ir ao site</a>
					</section>
				</div>
				<div class="col-sm-6">
					<div class="imagensLink">
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</div>

		
